$border-radius: 5px;

$font-primary: 'Open Sans', sans-serif;

$color-primary: #1691C3;
$color-text: #444444;
$color-background:#E4E4E4;
$color-logo: #FC4887;

$main-padding: 10px;

$desktop: 720px;
$tablet: 600px;

