.info-paragraph {
    font-size: 2rem;
    line-height: 1;
}

.info-text {
    text-align: center;
}

@include desktop {
    .info-text {
        padding-right: $main-padding * 2;
        text-align: left;
    }

    .info-buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}